.date_departure input{
    height: 2.5rem;
    line-height: 2.5rem;
}
.table_cl{

}
.table_cl th, .table_cl td{
    text-align: left;
    padding-left: 0;
    width: 50% !important;
    padding-right: 5px;
}

.table_dl td{
    width: unset !important;
    padding-right: 5px !important;
}
.table_cl td{
    border-bottom: none;
}
.table_expand{
    width: 100%;

}
.table_expand th, .table_expand td{
    width: 50px !important;
}
.table_cl tr{
    height: 40px;
}
.date_picker{
    width: 100%;
    margin-bottom: 20px !important;
}
.date_picker input{
    line-height: 2.5rem;
}
.menu11{
    border-top: 1px solid !important;
    font-size: 18px !important;
    font-weight: bold !important;
}
.menuchild{
    padding-left: 35px !important;
}
.menuchild, .menu11{
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
#firstItem0{
    border-top: 0px !important;
}
.status_action span{
    width: 100%;
}
.status_action{
    margin: 0 20px !important;
    margin-bottom: 20px !important;
}
.confirm_dialog + div{
    max-width: 500px;
}
